#slider{
    background-image: url("biography-bg.png");
}
#nev{
    background-color: aliceblue;
}
#spbox{
    text-align: center;
    box-shadow: 7px 7px 20px;
    border: none;
    border-radius: 10px;
}
#cata{
    text-align: center;
}
#copy{
    text-align: center;
}